html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    /* Height of the footer */
}

.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    /* height: 100px; */
    /* Adjust height as needed */
    background-color: #f8f9fa;
}

.mynavbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    color: red;
}

